---
import "../css/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Обо мне";

const identity = {
  firstName: "Сара",
  country: "Канада",
  occupation: "Технический писатель",
  hobbies: ["фотография", "наблюдение за птицами", "бейсбол"],
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "React",
  "Astro",
  "Написание документации",
];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "navy";
---

<style define:vars={{ textColor: skillColor }}>
  h1 {
    color: purple;
    font-size: 4rem;
  }
  .skill {
    color: var(--textColor);
    font-weight: bold;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <p>Несколько фактов обо мне:</p>
  <ul>
    <li>Меня зовут {identity.firstName}.</li>
    <li>
      Моя страна — {identity.country}, а род занятий — {identity.occupation}.
    </li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Два моих увлечения: {identity.hobbies[0]} и {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>Мои навыки:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
  {happy && <p>Я рад изучать Астро!</p>}
</BaseLayout>
